<!DOCTYPE html>
<html>
<head>
	<style>
		.main-container{
				padding:50px;
				
		}
		.inner-box1{		
			padding:20px;
			display:flex;
			justify-content:space-evenly;
		}
		.inner-box2{
			display:flex;
			justify-content:space-evenly;
		}
	</style>
</head>
<body>
	<center><h1>Contact page</h1></center>
	<div class="main-container">
		<div>
			<h3><mark>LET'S GET START</h3>
		</div>

		<div class="inner-box1">
			<div class="inner-h1" style="width:90%;">
				<h1 style="font-size:40px;">Reach out to us using the options below:<h1>
			</div>
			<div style="display:flex; justify-content:center; align-items:center;">
				<p style="font-size:20px;">Whether you have a question about our services,need advice on tax planning, or want to schedule a  							consultation, our team of experienced professionals is ready to assist you.</p>
			</div>
		</div>

		<div class="inner-box2">
			<div class="img" style="width:40%;display:flex; justify-content:center; align-items:left;">
				<img src="https://tse2.mm.bing.net/th?id=OIP.g1dsWz_715EQniv4lsa1pwHaE8&pid=Api&P=0&h=220" alt="contact image" style="width:100%;"/>
			</div>
                  <div class="box2-sub">
				<div class="address" style="display:flex;">
					<div class="icon">
						<img src="https://tse4.mm.bing.net/th?id=OIP.Vrl2GNJuXMaZh3RYlMwuqQHaHY&pid=Api&P=0&h=220" alt="address"  										style="width:50px;" />
					</div>
					<div>
                                   <h1>Address :</h1>
						<p>
							123 Financial Avenue, Suite 456,<br>
							Cityville, State, 12345<br>
						</p>
					</div>
				</div>

				<div class="Email" style="display:flex;">
					<div class="icon" style="background-color:gray; align-self:center;">
						<img src="https://tse2.mm.bing.net/th?id=OIP.KZyOa31s0xZ0kIwQHiIrkQHaHa&pid=Api&P=0&h=220" alt="address"  										style="width:50px;" />
					</div>
					<div>
                                   <h1>E-mail :</h1>
						<p>
							General Inquiries:<br>
							info@youraccountingfirm.com<br>
							Client Support:<br>
							support@youraccountingfirm.com<br>
						</p>
					</div>
				</div>
			</div>

			<div class="div3">
				<div class="phone" style="display:flex;">
					<div>
						<img src="https://tse4.mm.bing.net/th?id=OIP.SZrS9y30XLDDV8E4I3XJnAHaJ-&pid=Api&P=0&h=220" alt="Phone" 									style="width:50px;" />
					</div>
					<div>
						<h1>Phone</h1>
						<p>Naga Pavan : 9391792877<br>
					   	   Harinadth  : 8279272317<br>
					   	   Office     : 9389302924</p>
					</div>
				</div>

				<div class="Time" style="display:flex;">
					<div>
                        		<img src="https://tse4.mm.bing.net/th?id=OIP.avUqTgVhWHd6Ozyh2nlpSQHaHa&pid=Api&P=0&h=220" alt="Timings" 										style="width:50px;" />
					</div> 
					<div>
						<h1>Business Hours</h1>
						<p>Monday to Friday: 9:00 AM - 6:00 PM<br>
							Saturday: 10:00 AM - 2:00 PM<br>
							Sunday: Closed</p>
					</div>					
                        </div>
			</div>
		</div>
		
	</div>
	
</body>
</html>