<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <div>
        <div>
            <center><h1>this is home page</h1></center><hr>
            <center>
                <h2>Please Create an account to Register <a href="{% url 'emp_register' %}">Register</a></h2>
                <p><b>If Already have an Account please Login</b><a href="{% url 'login' %}"><strong>Login</strong></a></p>
            </center>
        </div>
    </div>
</body>
</html>